<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student not found</title>
</head>
<body>
<h1>Student not found</h1>
<!--/*@thymesVar id="npm" type="java.lang.String"*/-->
<h3 th:text="'NPM = ' + ${npm}">Student NPM</h3>
</body>
</html>
